body {
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  background-color: #dcdcdc;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #808080;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background: #ffffff;
  padding: 15px;
  border-left: 5px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
img,
select {
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #eee;
  font-size: 0.9em;
}
.intro-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.intro-content img {
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.rainbow {
  animation: glowColor 2s linear infinite;
  filter: brightness(1.4) saturate(2);
}
@keyframes glowColor {
 0% {
    filter: hue-rotate(0deg) brightness(1.4) saturate(50);
  }
  100% {
    filter: hue-rotate(360deg) brightness(1.4) saturate(50);
  }
}
.sekinin {
  color: #bebebe;
}